body {
    font-family: 'Poppins';
    margin: 0px;
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
    background-color: #8080FF;
    border-radius: 10px;
    border: 3px solid linear-gradient(244.87deg, #185170 6.21%, #184665 34.69%, rgba(19, 33, 58, 0.92) 64.15%);
}

.hero {
    height: 1806px;
    background: #FFFFFF;
}

.header {
    padding: 0 50px;
    top: 0;
    z-index: 4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-logo {
    font-size: 36px;
    font-weight: 700;
    color: #8080FF;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link:hover {
    color: #8080FF;
}

.nav-link {
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.hero-c {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
}

.hero-left {
    width: 534px;
    color: #000000;
    margin-top: 60px;
    padding-left: 40px;
    margin-top: -220px;
}

.hero-left h1 {
    font-size: 48px;
}

.hero-left p {
    font-size: 18px;
    color: #999999;
}

.info {
    display: flex;
}

.info-detail h2 {
    margin: 0 0px;
    font-size: 32px;
    color: black;
}

.info span {
    color: #8080FF;
}

.info-detail {
    margin: 0 10px;
}

.info-detail p {
    margin: 0 0px;
}

.hero-p img {
    width: 823px;
    height: 765px;
}

.hero-left button {
    width: 170px;
    height: 50px;
    margin-top: 30px;
    border-style: none;
    font-weight: bold;
    size: 18px;
    font-style: normal;
    background: #FF9376;
    color: white;
}

.hero-left button:hover {
    background: #ffa187;
}

.partner {
    width: 70%;
    margin-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.place h2 {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    /* identical to box height */
    text-align: center;
    color: #000000;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

.place p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #999999;
}

.place {
    margin-top: 70px;
}

.place-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.card img {
    width: 292px;
    height: 292px;
}

.card P {
    margin-top: -15px;
    text-align: unset;
}

.card {
    margin: 0 40px;
}

.footer {
    display: flex;
    margin-top: 80px;
}

.left {
    width: 727px;
    height: 476px;
    background: #F6F8FC;
}

.left h1 {
    margin-top: 80px;
    margin-left: 80px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    width: 328px
}

.left p {
    margin: 0 80px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    /* or 200% */
    color: #999999;
    width: 350px;
}

.img-download {
    width: 122.28px;
    height: 40px;
}

.download {
    margin-left: 80px;
    margin-top: 20px;
}

.costumer img {
    width: 263px;
    margin-left: 40px;
    height: 266px;
}

.costumer {
    margin-top: 80px;
    margin-left: -150px;
}